<%= render "shared/header" %>

<div class="bg-white pb-5">
  <div class="bg-white m-3">
    <h3 class="text-center">トレーニングの記録</h1>
    <div class="text-center">
      <%= form_with(url: search_trainings_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input bg-light" %>
        <%= form.submit "検索", class: "search-btn bg-light" %>
      <% end %>
    </div>
  </div>

  <div class="container bg-white text-center border border-dark">
    <% @training.each do |training| %>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th style="width:100px">#</th>
              <th style="width:130px">日付</th>
              <th style="width:400px">種目</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><%= training.date %></td>
              <td> 
                <%= training.description %>
                <span><%= link_to '編集', edit_training_path(training.id), method: :get, class: "edit-btn p-1" %></span>
              </td> 
            </tr>
          </tbody>
        </table>
    <% end %>
  </div>
</div>

<%= link_to(new_training_path, class: 'input-btn') do %>
  <span class='input-btn-text'>記録する</span>
  <%= image_tag 'input.jpg' , size: '185x50' ,class: "input-btn-icon" %>
<% end %>

<%= render "shared/footer" %>