<%= render "shared/header" %>
  <div class="hero-container">
    <div class="container">
      <h1 class="catch-copy text-center text-white">TRY-ANGLE</h1>
      <p class="lead"></p>
    </div>
  </div>
  <span class="hero-border"></span>
  
  <div class="bg-white pt-5">
    <div class="container bg-white pb-5">
      <!--メニュー一覧-->
      <div class="title-menu-container">
        <u><h2 class="title-menu text-center py-3">MENU</h2></u>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <%= link_to(weights_path) do %>
            <img class="img-fluid border border-3 border-dark rounded" src="assets/record.jpg" alt="食事管理">
          <% end %>
          <h4 class="text-center p-2">体重の記録</h4>
        </div>

        <div class="col-md-4 col-12">
          <%= link_to(meals_path) do %>
            <img class="img-fluid border border-3 border-dark rounded" src="assets/meal.jpg" alt="食事管理">
          <% end %>
          <h4 class="text-center p-2">食事の記録</h4>
        </div>

        <div class="col-md-4 col-12">
          <%= link_to(trainings_path) do %>
            <img class="img-fluid border border-3 border-dark rounded" src="assets/training.jpg" alt="トレーニング管理">
          <% end %>
          <h4 class="text-center p-2">トレーニングの記録</h4>
        </div>
      </div>
    </div>

    <!--BODY MAINTENANCEの特徴-->
    <div class="py-5">
      <div id="tab", class="tab-head p-3 bg-dark">
        <h3 class="text-center text-white">TRY-ANGLEの特徴</h2>
      </div>
      <div class="tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item col-4 p-0" role="presentation">
            <a class="nav-link active text-center" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">体重の管理</a>
          </li>
          <li class="nav-item col-4 p-0" role="presentation">
            <a class="nav-link text-center" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">食事の管理</a>
          </li>
          <li class="nav-item col-4 p-0" role="presentation">
            <a class="nav-link text-center" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">トレーニング管理</a>
          </li>
        </ul>
        <div class="tab">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="col-md-8 col-12 my-5 mx-auto text-center">
                <h2 class="p-3">体重の変化をグラフで記録！</h2>
                <h5 class="p-3">食事・トレーニング管理機能とあわせて、徹底的な管理！</h5>
                <h5 class="p-3">入力の完了まで約５秒！体重計測後にすぐ記録ができる！</h5>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-md-8 col-12 my-5 mx-auto text-center">
                <h2 class="p-3">毎日の食事を画像付きで記録！</h2><br>
                <h5 class="p-3">過去の食事は、検索で振り返りが可能！</h5>
                <h5 class="p-3">ひとことメモに、気になった事も記録！</h5>
                
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="col-md-8 col-12 my-5 mx-auto text-center">
                <h2 class="p-3">日々のトレーニングを記録！</h2><br>
                <h5 class="p-3">記録したトレーニングは、全て一覧にして表示！</h5>
                <h5 class="p-3">過去のトレーニングは、検索で振り返りが可能！</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<%= render "shared/footer" %>