<%= render "shared/header" %>
  <div class="hero-container">
    <div class="container">
      <h1 class="catch-copy text-center text-white">TRY-ANGLE</h1>
      <p class="lead"></p>
    </div>
  </div>
  
  <div class="bg-white pt-5">
    <div class="container bg-white pb-5">
      <!--メニュー一覧-->
      <div class="title-menu-container">
        <u><h2 class="title-menu text-center py-3">MENU</h2></u>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <%= link_to(weights_path) do %>
            <%= image_tag asset_path("record.jpg", alt: "体重管理"), class: "img-fluid border border-3 border-dark rounded" %>
            <%# <img class="img-fluid border border-3 border-dark rounded" src="assets/record.jpg" alt="食事管理"> %>
          <% end %>
          <h4 class="text-center p-2">体重の記録</h4>
        </div>

        <div class="col-md-4 col-12">
          <%= link_to(meals_path) do %>
            <%= image_tag asset_path("meal.jpg", alt: "食事管理"), class: "img-fluid border border-3 border-dark rounded" %>
            <%# <img class="img-fluid border border-3 border-dark rounded" src="assets/meal.jpg" alt="食事管理"> %>
          <% end %>
          <h4 class="text-center p-2">食事の記録</h4>
        </div>

        <div class="col-md-4 col-12">
          <%= link_to(trainings_path) do %>
            <%= image_tag asset_path("training.jpg", alt: "トレーニング管理"), class: "img-fluid border border-3 border-dark rounded" %>
            <%# <img class="img-fluid border border-3 border-dark rounded" src="assets/training.jpg" alt="トレーニング管理"> %>
          <% end %>
          <h4 class="text-center p-2">トレーニングの記録</h4>
        </div>
      </div>
    </div>

    <%# カレンダー機能 %>

    <div class="m-3 p-3">
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    </div>
    
    <%# カレンダー機能 %>

    <!--BODY MAINTENANCEの特徴-->
    <div class="py-5">
      <div id="tab", class="tab-head p-3 bg-dark">
        <h3 class="text-center text-white">TRY-ANGLEとは</h2>
      </div>
      <div class="tab-main">
        <div class="tab">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item col-6 p-0" role="presentation">
              <a class="nav-link active text-center tab-contents" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">TRY-ANGLEの特徴</a>
            </li>
            <li class="nav-item col-6 p-0" role="presentation">
              <a class="nav-link text-center tab-contents" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">使い方</a>
            </li>
          </ul>
          <div class="tab">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="col-md-8 col-12 my-5 mx-auto text-center">
                  <h2 class="p-3">体重・食事・トレーニングの徹底管理！</h2>
                  <h5 class="p-3">簡単な入力作業で「体重・食事・トレーニング」を記録できます。</h5>
                  <h5 class="p-3">毎日の体重の変化を、折れ線グラフにして確認する事ができます。</h5> 
                  <h5 class="p-3">食事・トレーニングの記録は、一覧にして確認する事ができます。</h5> 
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-md-8 col-12 my-5 mx-auto text-center">
                  <h2 class="p-3">入力作業はわずか１０秒！</h2><br>
                  <h5 class="p-3">①各項目の「記録する」から入力ページへ！</h5>
                  <h5 class="p-3">②フォームの内容を記載して送信するだけ！</h5>
                  <h5 class="p-3">気になった事はひとことメモに保存しよう！</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<%= render "shared/footer" %>