<%= render "shared/header" %>

<div>
  <h3 class="text-center m-3">
    <%= "#{current_user.nickname}さんの記録" %>
  </h3>

  
  <h3 class="text-center pb-3">体重の記録</h3>
    <div class="mx-3 pb-3">
      <div class="container bg-white text-center border border-dark mb-3">
        <% @weight.reverse_each do |weight| %>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th style="width:100px">#</th>
                  <th style="width:130px">日付</th>
                  <th style="width:400px">体重</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><%= weight.date %></td>
                  <td> 
                    <%= weight.weight %>
                  </td> 
                </tr>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>


  <%# 食事の記録 %>
  <div class="pb-3">
    <div class="bg-white m-3">
      <h3 class="text-center">食事の記録</h3>
    </div>
    <div class='container meal-contents bg-white border border-dark mb-3'>
        <ul class='meal-list row '>
        <%# 食事の写真データ全てを展開 %>
          <% @meal.each do |meal| %>
            <li class='list px-5 m-3 col-md-3 '>
              <div class='meal-lists'>
                <div class='meal-img-content'>
                  <%= image_tag meal.image, class: "item-img " %>
                </div>
                <h3 class='meal-date p-1'>
                  <%= meal.date %>
                </h3>
                <div class="meal-description-box p-1">
                  <span><%= meal.description %></span>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
  <%# 食事の記録 %>

  <%# トレーニングの記録 %>
  <div class="m-3 p-3">
    <div class="bg-white m-3">
      <h3 class="text-center">トレーニングの記録</h1>
    </div>

    <div class="container bg-white text-center border border-dark mb-3">
      <% @training.each do |training| %>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th style="width:100px">#</th>
              <th style="width:130px">日付</th>
              <th style="width:400px">種目</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><%= training.date %></td>
              <td> 
                <%= training.description %>
              </td> 
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <%# トレーニングの記録 %>
</div>
<%= render "shared/footer" %>