<%= render "shared/header" %>

<div>
  <h3 class="text-center m-3">
    <%= "#{current_user.nickname}さんの記録" %>
  </h3>

  <h4 class="text-center m-3">
    <%= "体重の記録" %>
    <div class="mx-3 pb-5">
      <%# <%= @weight.date %> %>
    </div>
  </h4>

</div>
<%= render "shared/footer" %>