<%= render "shared/header" %>
<h3 class="text-center">体重の推移</h1>


<%= line_chart @weight.group_by_day(:date, series: false).average(:weight),height: "400px",xtitle: "日", ytitle: "体重",min: 30, max: 120, curve: false %>


<%= link_to( new_weight_path, class: 'input-btn') do %>
  <span class='input-btn-text'>記録する</span>
  <%= image_tag 'input.jpg' , size: '185x50' ,class: "input-btn-icon" %>
<% end %>
<%= render "shared/footer" %>