<%= render "shared/header" %>
<h3 class="text-center m-3">体重の記録</h3>

<div class="mx-3 pb-5">
  <%= line_chart @weight.group_by_day(:date, series: false).average(:weight), height: "400px",xtitle: "日", ytitle: "体重",min: 30, max: 120, curve: false %>
</div>

  <div class="container bg-white text-center border border-dark mb-3">
    <% @weight.reverse_each do |weight| %>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th style="width:100px">#</th>
              <th style="width:130px">日付</th>
              <th style="width:400px">体重</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td nowrap><%= weight.date %></td>
              <td> 
                <%= weight.weight %>
                <span><%= link_to '編集', edit_weight_path(weight.id), method: :get, class: "edit-btn p-1" %></span>
              </td> 
            </tr>
          </tbody>
        </table>
    <% end %>
  </div>

<%= link_to( new_weight_path, class: 'input-btn') do %>
  <span class='input-btn-text'>記録する</span>
  <%= image_tag 'input.jpg' , size: '185x50' ,class: "input-btn-icon" %>
<% end %>
<%= render "shared/footer" %>