<div class="simple-calendar pt-3">
  <div class="calendar-heading bg-dark">
    <%= link_to t('simple_calendar.previous', default: '前月'), calendar.url_for_previous_view, class: "month-change"%>
    <span class="calendar-title text-white"><%= "#{start_date.year}年" %><%= t('date.month_names')[start_date.month] %> </span>
    <%= link_to t('simple_calendar.next', default: '次月'), calendar.url_for_next_view, class: "month-change"%>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <%# カレンダー上部の曜日を表示 %>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
                  <div>
                    <%= %>
                    <%= link_to "記録", "/users/#{current_user.id}", class: "date_record" %>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
