<%= render "shared/header" %>

<div class="bg-white mx-2">
  <div class="bg-white m-3">
    <h3 class="text-center">食事の記録</h1>
  </div>

  <div class='container meal-contents bg-white'>
      <ul class='meal-list row '>
      <%# 食事の写真データ全てを展開 %>
        <% @meals.each do |meal| %>
          <li class='list px-1 my-3 col-md-3 '>
            <div class='meal-lists'>
              <div class='meal-img-content'>
                <%= image_tag meal.image, class: "item-img, img-fluid-ad" %>
              </div>
              <h3 class='meal-date p-1'>
                <%= meal.date %>
              </h3>
              <div class="meal-description-box p-1">
                <span><%= meal.description %></span>
              </div>
              <div class="edit-main p-1">
                <%= link_to '編集', edit_meal_path(meal.id), method: :get, class: "edit-btn p-1" %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
  </div>
  
</div>

<%= link_to( new_meal_path, class: 'input-btn') do %>
  <span class='input-btn-text'>記録する</span>
  <%= image_tag 'input.jpg' , size: '185x50' ,class: "input-btn-icon" %>
<% end %>

<%= render "shared/footer" %>